<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="project">Create a new Project:</h1>
        <%= render 'shared/project_form' %>
        <%= render 'shared/feed' %>
      </td>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
<table>
	<tr>
		<td>
	<pre>
<h3>Getting Started</h3>
<b>-Create an account.
  All it takes is a username, email, 
    and password.

-Create and upload a new project.
  Add collaborators to your project.
  Get feedback.
  Show off finished projects.

-Contribute
  Comment on, add to, and checkout 
    other projects.
  Earn an "Ingredient Quality" score. 
    This will help to sort out the 
    pros from the noobs and the rude 
    from the nice.</b>
				</pre>
  </td>
<td>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	
	</td>
</tr>
</table>
<% end %>