<tr>
  <td class="project">
    <span class="name"><strong>Name: </strong><%= project.name %></span><br>
<span class="project_type"><strong>Type: </strong><%= project.project_type %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(project.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(project.user) %>
  <td>
    <%= link_to "delete", project, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => project.name %>
  </td>
  <% end %>
</tr>